Checks: 
'
bugprone-*,
clang-diagnostic-*,
clang-analyzer-*,
modernize-*,
concurrency-*,
performance-*,
boost-*,
cert-*,
cppcoreguidelines-*,
hicpp-*,
misc-*,
openmp-*,
portability-*,
readability-*,
-modernize-use-trailing-return-type,
-readability-identifier-length,
-bugprone-easily-swappable-parameters,
-cppcoreguidelines-owning-memory,
-cert-dcl59-cpp,
-readability-else-after-return,
-misc-no-recursion,
-cppcoreguidelines-avoid-magic-numbers,
-readability-magic-numbers,
-cppcoreguidelines-avoid-do-while,
-readability-function-cognitive-complexity,
-misc-non-private-member-variables-in-classes
'